@use '../../../styles/variables' as v;

.toolbar {
  height: v.$toolbar-height;
  background-color: v.$primary;
  color: v.$text-light;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.menu-btn {
  display: none;
  font-size: 22px;
  margin-right: 16px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Mostrar botón en móvil */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}
