@use 'variables' as *;

.btn {
  padding: 10px 18px;
  border-radius: $radius;
  border: none;
  cursor: pointer;
  transition: $transition;
}

.btn-primary {
  background: $primary;
  color: $dark;
}

.btn-secondary {
  background: $secondary;
  color: $dark;
}

.btn-dark {
  background: $dark;
  color: $text-accent;
}
