@use 'variables' as *;

body {
  background-color: $light;
  color: $text-dark;
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

.navbar {
  height: $toolbar-height;
  background: $dark;
  color: $text-light;
}

.sidebar {
  width: $sidebar-width;
  background: $dark;
}
