.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  text-align: center;

  h1 {
    color: #333;
    margin-bottom: 16px;
    font-size: 2rem;
  }

  p {
    color: #666;
    font-size: 1.1rem;
  }
}
