<nav class="navbar">
  <div class="nav-items">
    <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="nav-item">
      <i class="pi pi-home"></i>
      <span>Home</span>
    </a>
    <a routerLink="/productos" routerLinkActive="active" class="nav-item">
      <i class="pi pi-box"></i>
      <span>Productos</span>
    </a>
    <a routerLink="/categorias" routerLinkActive="active" class="nav-item">
      <i class="pi pi-tags"></i>
      <span>Categorías</span>
    </a>
  </div>
</nav>